{% extends 'accounts/main.html' %} {% block content %} 
{% include 'accounts/status.html' %} 

<br />
<br />
<div class="row">
  <div class="col-md-5 d-flex">
    <div class="card card-body">
      <form method="get">
        {% comment %} {{ myCustomerFilterform }} #show all {% endcomment %}
        <label>Filter Customer by:</label>
        <br />
        <br />
        <div class="row g-3">
          <div class="col">
            <input
              class="form-control"
              type="text"
              name="name"
              placeholder="Name"
              value="{{ request.GET.name }}"
            />
          </div>
          <div class="col">
            <input
              class="form-control"
              type="text"
              name="email"
              placeholder="Email"
              value="{{ request.GET.email }}"
            />
          </div>
          <div class="col">
            <input
              class="form-control"
              type="text"
              name="phone"
              placeholder="Phone Number"
              value="{{ request.GET.phone }}"
            />
          </div>
          <hr />
        </div>
        <br />
        <br />
        <button class="btn btn-primary form-control" type="submit">
          Filter Customers
        </button>
      </form>
    </div>
  </div>

  <div class="col-md-7 d-flex">
    <div class="card card-body">
      <form method="get" >
        
        <label>Filter Orders by:</label>
        <br> <br>
        <div class="row g-3">
          <div class="col">
            {{order_form.customer}}
          </div>
          <div class="col">
            {{order_form.product}}
          </div>
          <div class="col">
            {{order_form.status}}
          </div>
        </div>
        <br>
        <div class="row g-3">
          <div class="col">
            {{order_form.start_date}}
          </div>
          <div class="col">
            {{order_form.end_date}}
          </div>
          <div class="col">
            <a href="?reset=true" class="btn btn-warning">Reset  Filter Input</a>
          </div>
        </div>
          {% comment %} <div class="col">
            {{order_form}}
          </div> {% endcomment %}
        
        {% comment %} <div class="col form-control">
          {{order_form.status}}
        </div> {% endcomment %}
        {% comment %} {{order_form}}  {% endcomment %}
        {% comment %} <select id="status" class="form-control" name="customer" placeholder="Chose Customer">
          {% for name in order_form.customer %}
          {{name}}
          {% endfor %} 
        </select> {% endcomment %}
        
          
          {% comment %} {{order_form}} {% endcomment %}

        {% comment %} <select id="status" class="form-control" name="customer" >
          {% for status in order_form.status %}
          {{status}}
          {% endfor %} 
        </select> {% endcomment %}
        {% comment %} <div class="form-group col-md-4">
          <label for="status">Status</label>
          <select id="status" class="form-control" name="status">
            <option selected>Choose...</option>
            {% for stat in status %}
            <option value="{{ stat }}">stat{{ stat }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
            <select id="status" class="form-control" name="products">
            <option selected>Choose...</option>
            {% for stat in products %}
            <option value="{{ request.GET.product }}">{{ request.GET.product }}</option>
            {% endfor %}
          </select>
          </div> {% endcomment %}
          <br><br>
        <button class="btn btn-primary form-control" type="submit">
          Filter Orders
        </button>
        
      </form>
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="col-md-5">
    <div class="card card-body">
      <a class="btn btn-primary btn-sm btn-block" href="">Customer</a>
      <table class="table table-sm">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>

        {% for customer in customers %}
        <tr>
          <td>
            <a href=" {%url 'customers' customer.id%} ">{{customer.name|capfirst }}</a>
          </td>
          <td>
            <a href=" {%url 'customers' customer.id%} ">{{customer.email}}</a>
          </td>
          <td>
            <a href=" {%url 'customers' customer.id%} ">{{customer.phone}}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card card-body">
      <span class="badge badge-primary fs-0.5 p-2">Last Order Status</span>
      <table class="table table-sm">
        <tr>
          <th>Customer</th>
          <th>Product</th>
          <th>Date Orderd</th>
          <th>Status</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>

        {% for order in orders %}
        <tr>
          <td>{{order.customer}}</td>
          <td>{{order.product}}</td>
          <td>{{order.date_created|date:"Y-M-j , H:i"}}</td>
          <td>{{order.status}}</td>
          <td>
            <a
              href=" {% url 'updateorder' order.id %} "
              class="btn btn-sm btn-info"
              >Update</a
            >
          </td>
          <td>
            <a
              href="{% url 'deleteorder' order.id %} "
              class="btn btn-sm btn-danger"
              >Remove</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
